*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    min-height: 100vh;
    cursor: none;
}

/* Hide Scrollbar */
body::-webkit-scrollbar {
    display: none;
  }

a {
    cursor: none;
}

/* Cursor */
.cursor {
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
    outline: 0;
    background: rgba(255, 217, 0, 0.815);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1000;
    transition: 
    top 50ms linear,
    left 50ms linear,
    width 500ms ease,
    height 500ms ease;
    transition: transform 0.3s ease;
}

/* Shrunk Cursor */
.cursor-reduce {
    transform: scale(0.3);
}

/* Header Fonts */

h1, h2, h3, h4, h5, h6, a {
    font-family: "MuseIlk", sans-serif;
}

/* Fontface */
@font-face {
    font-family: "MuseIlk";
    src: url("font/LEMONMILK-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "MuseIlk";
    src: url("font/LEMONMILK-LightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "MuseIlk";
    src: url("font/LEMONMILK-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "MuseIlk";
    src: url("font/LEMONMILK-RegularItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "MuseIlk";
    src: url("font/LEMONMILK-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MuseIlk";
    src: url("font/LEMONMILK-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "MuseIlk";
    src: url("font/LEMONMILK-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Spotify";
    src: url("font/LEMONMILK-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

/* Animated Music Bar */
.preloader-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:linear-gradient(80deg,#110e1f, #1b1730);
    z-index: 10;
}

.preloader {
    height: 70px;
    display: flex;
    align-items: center;
}

.preloader .stroke {
    display: block;
    position: relative;
    background-color: #f1f1f1;
    height: 100%;
    width: 10px;
    border-radius: 5px;
    margin: 0 5px;
    animation: animate 1.2s linear infinite;
    border: 0;
    outline: 0;
    pointer-events: none;
    user-select: none;
}

@keyframes animate {
    50% {
        height: 20%;
    }

    100% {
        height: 100%;
    }
}

.stroke:nth-child(1) {
    animation-delay: 0s;
}
.stroke:nth-child(2) {
    animation-delay: 0.3s;
}
.stroke:nth-child(3) {
    animation-delay: 0.6s;
}
.stroke:nth-child(4) {
    animation-delay: 0.9s;
}
.stroke:nth-child(5) {
    animation-delay: 0.6s;
}
.stroke:nth-child(6) {
    animation-delay: 0.3s;
}
.stroke:nth-child(7) {
    animation-delay: 0s;
}

/* Preloader Title */
.title {
    color: #f1f1f1;
    margin: 2rem 0 0;
}

/* Preloader Progress Bar */
.bar {
    width: 80px;
    height: 2px;
    background-color: #282246;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#fill {
    width: 0%;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    top: 0;
    left: 0;
}

/* Hide Main Content */
.content-wrapper {
    display: none;
    opacity: 0;
}

/* Hamburger Menu */

.content-wrapper .container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-wrapper nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 1rem 3rem;
    margin-top: 3rem;
}

.menu {
    display: none;
}

.menu a {
    text-decoration: none;
    font-size: 0.9rem;
    color: #f1f1f1;
}

.menu.is-active {
    display: flex;
    gap: 2.5rem;
    position: absolute;
    top: 30px;
    left: 10%;
    visibility: visible;
}

.hamburger {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50px;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.hamburger div {
    height: 5px;
    background: #fff;
    margin: 3px 0;
    border-radius: 24px;
    transition: .3s;
    position: relative;
    z-index: 1;
    transform-origin: 0 0;
}

.hamburger:hover div {
    width: 50px;
}

.line-one {
    width: 50px;
}

.line-two {
    width: 30px;
}

.line-three {
    width: 40px;
}

.hamburger.is-active .line-one {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active .line-two {
    opacity: 0;
    transform: translateX(0px);
}

.hamburger.is-active .line-three {
    transform: translate(-3px, 3px) rotate(-45deg);
}

/* Scrolling */
#main-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

#main-container .scroll-item {
    scroll-snap-align:start;
}

/* Social Media Icons */

.social-media {
    display: flex;
    gap: 0.8rem;
}
.social-media .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    transition: border .2s ease;
}

.social-media .icon:hover {
    border: 2px solid #FFD700;
}

.social-media .soundcloud {
    background-image: url(img/soundcloud_icon.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
    transition: background-image .2s ease;
}

.social-media .soundcloud:hover {
    background-image: url(img/soundcloud_icon1.svg);
}

.social-media .facebook {
    background-image: url(img/facebook_icon.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
    transition: background-image .2s ease;
}

.social-media .facebook:hover {
    background-image: url(img/facebook_icon1.svg);
}

.social-media .instagram {
    background-image: url(img/instagram_icon.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
    transition: background-image .2s ease;
}

.social-media .instagram:hover {
    background-image: url(img/instagram_icon1.svg);
}

.social-media .youtube {
    background-image: url(img/youtube_icon.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
    transition: background-image .2s ease;
}

.social-media .youtube:hover {
    background-image: url(img/youtube_icon1.svg);
}

.social-media .twitter {
    background-image: url(img/twitter_icon.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
    transition: background-image .2s ease;
}

.social-media .twitter:hover {
    background-image: url(img/twitter_icon1.svg);
}

/* Home Page */
#main-container .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    height: 100vh;
    width: 100%;
    background: url(img/home-bg.jpg);
    background-repeat: no-repeat;
}

.main-container h1 {
    font-size: 5rem;
}

.main-container h2 {
    font-size: 2rem;
    color: #FFD700;
}

/* Second Section */
#main-container .second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: -webkit-linear-gradient(top left, rgb(14, 9, 11), rgb(41, 7, 29)); 
    background: -moz-linear-gradient(top left, rgba(14, 9, 11, 1.0), rgba(41, 7, 29, 1.0)); 
    background: linear-gradient(to bottom right, rgba(14, 9, 11, 1.0), rgba(41, 7, 29, 1.0));
    color: #f1f1f1;
}

/* Musi Container */
.music-container {
    background-color: #ffffff;
    border-radius: 0.9rem;
    box-shadow: 0 1.25rem 1.25rem 0 rgba(252, 169, 169, 0.6);
    display: flex;
    padding: 1.25rem 1.875rem;
    position: relative;
    margin: 6.25rem 0;
    z-index: 10;
}

.img-container {
    position: relative;
    width: 6.875rem;
}

.img-container::after{
    content: '';
    background-color: #ffffff;
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    left: 50%;
    bottom: 65%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Record Image Spin Animation */
.img-container img {
    width: 100%;
    height: 6.875rem;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

.music-container.play .img-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg);
    }
}


/* Music Play Navigation Styling */

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.music-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    background: linear-gradient(to bottom right, rgb(39, 28, 32), rgb(59, 9, 42));
    border-radius: 0.94rem 0.94rem 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    /* opacity: 0; */
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    padding: 0.625rem 0.625rem 0.625rem 9.375rem;
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
}

.action-btn {
    background-color: #ffffff;
    border: 0;
    color: #dfdbdf;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 0.625rem;
    margin: 0 1.25rem;
}

.action-btn:focus {
    outline: none;
}

.action-btn-big {
    color: #cdc2d0;
    font-size: 1.875rem;
}

.progress-container {
    background: #ffffff;
    border-radius: 0.3125rem;
    cursor: pointer;
    margin: 0.625rem 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: #fe8daa;
    border-radius: 0.3125rem;
    height: 4px;
    width: 0%;
    transition: width 0.1s linear;
}